ros2_launch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- This file is hosted (and can be edited) at: -->
  <!-- https://github.com/nobleo/ros2_launch_validation -->

  <!-- String type that only allows whitelisted $() substitution commands.     -->
  <!-- NOTE: the pattern value cannot be split across lines because XML        -->
  <xsd:simpleType name="substitution_string">
    <xsd:annotation>
      <xsd:documentation>
        Allows free-form strings, but any $() substitution must use one of the
        following whitelisted commands (from launch and launch_ros packages).
        See: https://docs.ros.org/en/rolling/p/launch/launch.substitutions.html
        Valid commands:
          all
          and
          anon
          any
          command
          dirname
          env
          equals
          eval
          exec-in-pkg
          file-content
          filename
          find-exec
          find-pkg-prefix
          find-pkg-share
          for-var
          if
          index
          launch_log_dir
          log_dir
          not
          not-equals
          or
          param
          string-join
          var
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([^$]|$[^(]|$\((all|and|anon|any|command|dirname|env|equals|eval|exec-in-pkg|file-content|filename|find-exec|find-pkg-prefix|find-pkg-share|for-var|if|index|launch_log_dir|log_dir|not-equals|not|or|param|string-join|var)[ )])*$?"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Root element -->
  <xsd:element name="launch">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="node"/>
        <xsd:element ref="include"/>
        <xsd:element ref="arg"/>
        <xsd:element ref="let"/>
        <xsd:element ref="param"/>
        <xsd:element ref="remap"/>
        <xsd:element ref="group"/>
        <xsd:element ref="executable"/>
        <xsd:element ref="push_ros_namespace"/>
        <xsd:element ref="push-ros-namespace"/>
        <xsd:element ref="set_parameter"/>
        <xsd:element ref="set_parameters_from_file"/>
        <xsd:element ref="set_remap"/>
        <xsd:element ref="set_env"/>
        <xsd:element ref="unset_env"/>
        <xsd:element ref="set_ros_log_dir"/>
        <xsd:element ref="set_use_sim_time"/>
        <xsd:element ref="log"/>
        <xsd:element ref="node_container"/>
        <xsd:element ref="load_composable_node"/>
        <xsd:element ref="timer"/>
        <xsd:element ref="ros_timer"/>
      </xsd:choice>
      <xsd:attribute name="version" type="substitution_string"/>
      <xsd:attribute name="deprecated" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Node element -->
  <xsd:element name="node">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="param"/>
        <xsd:element ref="remap"/>
        <xsd:element ref="ros_param"/>
        <xsd:element ref="env"/>
      </xsd:choice>
      <xsd:attribute name="pkg" type="substitution_string" use="required"/>
      <xsd:attribute name="exec" type="substitution_string" use="required"/>
      <xsd:attribute name="name" type="substitution_string"/>
      <xsd:attribute name="namespace" type="substitution_string"/>
      <xsd:attribute name="exec_name" type="substitution_string"/>
      <xsd:attribute name="args" type="substitution_string"/>
      <xsd:attribute name="ros_args" type="substitution_string"/>
      <xsd:attribute name="output" type="substitution_string"/>
      <xsd:attribute name="respawn" type="substitution_string"/>
      <xsd:attribute name="respawn_delay" type="substitution_string"/>
      <xsd:attribute name="required" type="substitution_string"/>
      <xsd:attribute name="launch-prefix" type="substitution_string"/>
      <xsd:attribute name="cwd" type="substitution_string"/>
      <xsd:attribute name="on_exit" type="substitution_string"/>
      <xsd:attribute name="emulate_tty" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Include element -->
  <xsd:element name="include">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="arg"/>
        <xsd:element ref="env"/>
        <xsd:element ref="extra_arg"/>
      </xsd:choice>
      <xsd:attribute name="file" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Argument element -->
  <xsd:element name="arg">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="choice"/>
      </xsd:choice>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="default" type="substitution_string"/>
      <xsd:attribute name="value" type="substitution_string"/>
      <xsd:attribute name="description" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Choice element (for arg enumerations) -->
  <xsd:element name="choice">
    <xsd:complexType>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Let element (local variable) -->
  <xsd:element name="let">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Parameter element -->
  <xsd:element name="param">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="substitution_string">
          <xsd:attribute name="name" type="substitution_string"/>
          <xsd:attribute name="value" type="substitution_string"/>
          <xsd:attribute name="value-sep" type="substitution_string"/>
          <xsd:attribute name="type" type="substitution_string"/>
          <xsd:attribute name="from" type="substitution_string"/>
          <xsd:attribute name="allow_substs" type="substitution_string"/>
          <xsd:attribute name="if" type="substitution_string"/>
          <xsd:attribute name="unless" type="substitution_string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!-- ROS parameter element (for loading from YAML files) -->
  <xsd:element name="ros_param">
    <xsd:complexType>
      <xsd:attribute name="file" type="substitution_string"/>
      <xsd:attribute name="param" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Remap element -->
  <xsd:element name="remap">
    <xsd:complexType>
      <xsd:attribute name="from" type="substitution_string" use="required"/>
      <xsd:attribute name="to" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Group element -->
  <xsd:element name="group">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="node"/>
        <xsd:element ref="include"/>
        <xsd:element ref="arg"/>
        <xsd:element ref="let"/>
        <xsd:element ref="param"/>
        <xsd:element ref="remap"/>
        <xsd:element ref="group"/>
        <xsd:element ref="push_ros_namespace"/>
        <xsd:element ref="push-ros-namespace"/>
        <xsd:element ref="set_parameter"/>
        <xsd:element ref="set_parameters_from_file"/>
        <xsd:element ref="set_remap"/>
        <xsd:element ref="set_env"/>
        <xsd:element ref="unset_env"/>
        <xsd:element ref="set_ros_log_dir"/>
        <xsd:element ref="set_use_sim_time"/>
        <xsd:element ref="log"/>
        <xsd:element ref="executable"/>
        <xsd:element ref="node_container"/>
        <xsd:element ref="load_composable_node"/>
        <xsd:element ref="timer"/>
        <xsd:element ref="ros_timer"/>
      </xsd:choice>
      <xsd:attribute name="scoped" type="substitution_string"/>
      <xsd:attribute name="ns" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Executable element -->
  <xsd:element name="executable">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="env"/>
      </xsd:choice>
      <xsd:attribute name="cmd" type="substitution_string" use="required"/>
      <xsd:attribute name="cwd" type="substitution_string"/>
      <xsd:attribute name="name" type="substitution_string"/>
      <xsd:attribute name="launch-prefix" type="substitution_string"/>
      <xsd:attribute name="output" type="substitution_string"/>
      <xsd:attribute name="shell" type="substitution_string"/>
      <xsd:attribute name="on_exit" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Push ROS namespace element -->
  <xsd:element name="push_ros_namespace">
    <xsd:complexType>
      <xsd:attribute name="namespace" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Push ROS namespace element (hyphenated variant, not preferred: https://github.com/ros2/launch_ros/issues/142) -->
  <xsd:element name="push-ros-namespace">
    <xsd:annotation>
      <xsd:documentation>
        DEPRECATED: Use 'push_ros_namespace' instead (with underscores).
        The hyphenated variant is not preferred. See: https://github.com/ros2/launch_ros/issues/142
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="namespace" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set parameter element -->
  <xsd:element name="set_parameter">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set parameters from file element -->
  <xsd:element name="set_parameters_from_file">
    <xsd:complexType>
      <xsd:attribute name="filename" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set ROS log directory element -->
  <xsd:element name="set_ros_log_dir">
    <xsd:complexType>
      <xsd:attribute name="new_log_dir" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set use_sim_time parameter element -->
  <xsd:element name="set_use_sim_time">
    <xsd:complexType>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set remap element (scoped remap for group) -->
  <xsd:element name="set_remap">
    <xsd:complexType>
      <xsd:attribute name="from" type="substitution_string" use="required"/>
      <xsd:attribute name="to" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Set environment variable element -->
  <xsd:element name="set_env">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Unset environment variable element -->
  <xsd:element name="unset_env">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Environment variable element (for node/executable) -->
  <xsd:element name="env">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Log element -->
  <xsd:element name="log">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="substitution_string">
          <xsd:attribute name="message" type="substitution_string"/>
          <xsd:attribute name="level" type="substitution_string"/>
          <xsd:attribute name="if" type="substitution_string"/>
          <xsd:attribute name="unless" type="substitution_string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!-- Node container element (for composable nodes) -->
  <xsd:element name="node_container">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="composable_node"/>
        <xsd:element ref="load_composable_node"/>
      </xsd:choice>
      <xsd:attribute name="pkg" type="substitution_string" use="required"/>
      <xsd:attribute name="exec" type="substitution_string" use="required"/>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="namespace" type="substitution_string"/>
      <xsd:attribute name="args" type="substitution_string"/>
      <xsd:attribute name="ros_args" type="substitution_string"/>
      <xsd:attribute name="output" type="substitution_string"/>
      <xsd:attribute name="launch-prefix" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Timer element (for delayed actions using wall clock time) -->
  <xsd:element name="timer">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="node"/>
        <xsd:element ref="include"/>
        <xsd:element ref="executable"/>
        <xsd:element ref="group"/>
      </xsd:choice>
      <xsd:attribute name="period" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- ROS Timer element (for delayed actions using ROS time) -->
  <xsd:element name="ros_timer">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="node"/>
        <xsd:element ref="include"/>
        <xsd:element ref="executable"/>
        <xsd:element ref="group"/>
      </xsd:choice>
      <xsd:attribute name="period" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Load composable node element -->
  <xsd:element name="load_composable_node">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="composable_node"/>
      </xsd:choice>
      <xsd:attribute name="target" type="substitution_string" use="required"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Composable node element -->
  <xsd:element name="composable_node">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="param"/>
        <xsd:element ref="remap"/>
        <xsd:element ref="ros_param"/>
        <xsd:element ref="env"/>
        <xsd:element ref="extra_arg"/>
      </xsd:choice>
      <xsd:attribute name="pkg" type="substitution_string" use="required"/>
      <xsd:attribute name="plugin" type="substitution_string" use="required"/>
      <xsd:attribute name="name" type="substitution_string"/>
      <xsd:attribute name="namespace" type="substitution_string"/>
      <xsd:attribute name="if" type="substitution_string"/>
      <xsd:attribute name="unless" type="substitution_string"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Extra argument element (for composable nodes and includes) -->
  <xsd:element name="extra_arg">
    <xsd:complexType>
      <xsd:attribute name="name" type="substitution_string" use="required"/>
      <xsd:attribute name="value" type="substitution_string" use="required"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
